*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
body{
    background: rgb(2,0,36);
background: -moz-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00d4ff",GradientType=1);
    color: white;
}
.heading{
    font-family: Arial;
    margin: 20px;
    
}
.custom-border {
 
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.chunmun{
    border: none;
    padding: 5px 10px;
    text-decoration: none;
    color:blue;
    background-color: white;
    border-radius: 20px;
}
.chunmun:hover{
    background-color:rgba(0, 0, 255,0.5) ;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}
.roam{
    text-align: center;
    margin: 10px;
}
.mesg{
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
   
.dj{
    border: none;
    padding: 5px 10px;
    text-decoration: none;
    color:blue;
    background-color: white;
    border-radius: 10px;
    bottom: 10px;
    
}

.dj:hover{
    background-color:rgba(0, 0, 255,0.5) ;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}
.user1{
    text-align: center;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.buter{
    border: none;
    padding: ;
    text-decoration: none;
    color:rgb(255, 255, 255);
    background-color: rgb(57, 46, 46);
    border-radius: 1px;
    bottom: 10px; 
    
}
.buter:hover{
background-color: rgba(0, 0, 255,0.5);
color:white;
  box-shadow: rgba(243, 241, 241, 0.2) 0px 60px 40px -7px;

}
/*dbwibdiwbibifbibikb

